@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Playground";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eiler Poulsen's Azure Playground!</h1>
    <p>Stuff will happen soon!</p>
</div>
