@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Playground";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eiler Poulsen's Azure Playground!</h1>
    <p>This website is an experimental playground for all things Azure and ASP.NET.</p>
    <p>Go to the Github repository <a href="https://github.com/Microhive/WebApp">@@microhive/Webapp</a> to learn about what kind of features have been implemented.</p>
    <p>The <a href="https://github.com/Microhive/WebApp/blob/main/README.md">README.md</a> file contains all the necessary documentation including steps to reproduce the features.</p>
</div>
